.home {
  width: 100%;
  background-image: url("../assets/home/bannerbackround.png");
  background-position: top right;
  background-size: 85% 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -130px;
  header.header {
    width: 95%;
    margin: 0 auto;
    padding: 60px 0;
    div.container {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      section.texture {
        width: 50%;
        max-width: 500px;
        h1 {
          font-size: 3rem;
        }
        .start {
          background-color: $primary1;
          color: white;
          width: 150px;
          height: 55px;
          border-radius: 39px;
          font-size: 1.1rem;
        }
        .watch {
          margin: 0 15px;
          border-radius: 39px;
          font-size: 1.1rem;
          vertical-align: middle;
          padding: 20px 40px;
          span {
            margin-left: -15px;
            margin-right: 10px;
            vertical-align: middle;
          }
          svg {
            transform: scale(2);
          }
        }
      }
    }
  }
  main.main {
    display: flex;
    flex-direction: column;
    @include heading;
    .cards {
      @include widthCenter;
      display: flex;
      justify-content: space-between;
      .card:nth-child(2) {
        background-color: #f9f9f9;
      }
      .card {
        position: relative;
        padding: 15px 15px 30px 15px;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s background-color;
        border-radius: 20px;
        img {
          height: 160px;
        }
        p {
          text-align: center;
        }
        a {
          position: absolute;
          bottom: 15px;
          color: $secondary3;
        }
        &:nth-child(2) a {
          color: $primary1;
        }
      }
    }
    .statistic {
      width: 95%;
      align-self: flex-end;
      padding: 100px 0;
      display: flex;
      .texture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        background-color: #f1f1f1;
        p {
          font-size: 1.3rem;
        }
        .costeffective {
          display: flex;
          align-items: center;

          span {
            font-size: 1.6rem;
            font-weight: bold;
          }
          p {
            margin: 0;
          }
          img {
            margin-right: 10px;
            width: 80px;
            height: 80px;
          }
        }
      }
      img {
        width: 50%;
      }
    }
    .account {
      @include widthCenter;
      .locations {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .location-button {
          transition: 0.4s background-color;
          font-size: 1.1rem;
          width: 33%;
          height: 70px;
          border-radius: 20px;
          &.active {
            background-color: $primary1;
            color: white;
          }
        }
      }
      .component {
        @include widthCenter;
        max-width: 1000px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        min-height: 250px;
        .texture {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 50%;
          .header {
            display: flex;
            align-items: center;
            img {
              height: 100%;
              width: 70px;
              margin-right: 10px;
            }
          }

          .get-started {
            width: 150px;
            height: 55px;
            border-radius: 39px;
            background-color: $secondary3;
            color: white;
            font-size: 1rem;
          }
        }
        .card-image {
          float: right;
          height: 100%;
          width: 50%;
        }
      }
    }
    .Testimonial {
      margin-top: 150px;
      width: 100%;
      padding: 50px 0px 100px 0;
      background-color: $primary1;
      background-image: url("../assets/home/testimonial.png");
      background-size: cover;
      background-position: center center;
      img.quote {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .description {
        text-align: center;
        width: 75%;
        max-width: 700px;
        margin: 20px auto;
        font-style: italic;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: white;
      }
      .user {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        * {
          line-height: 3px;
        }
      }
    }
    .pricing {
      width: 90%;
      margin: 60px auto;
      display: flex;
      justify-content: space-between;
      .pricing-details {
        align-self: center;
        width: 33%;
        display: flex;
        flex-direction: column;

        .title {
          margin: 0;
          color: $primary1;
          width: fit-content;
          padding: 10px 30px;
          border-radius: 30px;
          background-color: #efecff;
        }
        h1 {
          padding: 0;
          margin: 10px 0;
        }
        .methods {
          display: flex;
          justify-content: space-between;
          img {
            width: 23%;
            cursor: pointer;
          }
        }
      }
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secondary1;
        border-radius: 25px;
        padding: 10px;
        header.header {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            font-weight: bold;
          }
        }
        &.basic {
          header.header {
            span {
              background-color: white;
              padding: 10px;
              border-radius: 20px;
              color: $secondary4;
            }
          }
          main {
            .get-started {
              padding: 20px 30px;
              border-radius: 35px;
              border: 1px solid #d3d3d3;
              font-size: 1.1rem;
            }
          }
        }
        &.advanced {
          header.header {
            span {
              color: $primary1;
              width: fit-content;
              padding: 10px 20px;
              border-radius: 30px;
              background-color: #efecff;
            }
          }
          main {
            ul li b {
              color: $primary1;
            }
            .get-started {
              padding: 20px 30px;
              border-radius: 39px;
              background-color: $secondary3;
              color: white;
              font-size: 1rem;
            }
          }
        }
        main {
          display: flex;
          flex-direction: column;
          align-items: center;
          .bill {
            padding: 6px 28px 6px 28px;
            border-radius: 40px;
            background-color: #ffeecc;
            color: #c68a15;
          }
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
              margin: 10px 0;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    .newslatter {
      width: 86%;
      padding: 50px 2%;
      background-repeat: no-repeat;
      margin: 50px auto;
      border-radius: 50px;
      background-image: url("../assets/home/newslatter.png");
      display: flex;
      align-items: center;
      img,
      .texture {
        width: 50%;
      }
      .texture {
        h1 {
          color: white;
        }
        p {
          font-size: 1.1rem;
          color: white;
        }
        .type-email {
          width: 100%;
          display: flex;
          justify-content: space-between;
          input {
            color: white;
            width: 58%;
            height: 45px;
            border-radius: 20px;
            padding: 0 15px;
            background-color: rgb(255, 255, 255, 0.2);
            font-size: 1rem;
          }
          button {
            padding: 5px 20px;
            border-radius: 25px;
          }
        }
      }
    }
    .most-popular {
      @include widthCenter;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .popular-card {
        background-color: $secondary1;
        width: 45%;
        border-radius: 30px;
        padding: 20px;
        .image-place {
          width: 100%;
          img {
            width: 100%;
          }
        }
        span {
          color: $primary1;
          font-weight: bolder;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
