// Primary colors
$primary1: #5236ff;
$primary2: #242331;

// Secondary colors
$secondary1: #f9f9f9;
$secondary2: #efecff;
$secondary3: #242331;
$secondary4: #797979;
$secondary5: #ffffff;

// combinations
@mixin widthCenter {
  width: 95%;
  margin: 0 auto;
}
