// Font Family
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
// Primary colors
$primary1: #5236ff;

// Secondary colors
$secondary1: #f9f9f9;
$secondary2: #efecff;
$secondary3: #242331;
$secondary4: #797979;
$secondary5: #ffffff;

// combinations
@mixin widthCenter {
  width: 95%;
  margin: 0 auto;
}
@mixin heading {
  .title {
    @include widthCenter;
    .features {
      text-align: center;
      span {
        padding: 15px 35px;
        background: $secondary2;
        border-radius: 39px;
        color: $primary1;
        font-size: 1.3rem;
      }
    }
    .introduction {
      text-align: center;
      h1 {
        margin: 30px auto;
        width: 400px;
        font-size: 2rem;
      }
    }
  }
}
